@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
body {
  background-color: white !important;
  font-family: 'Roboto', sans-serif;
}
.last
{
    background-image: url("./../img/last.png");
    background-position: center center;
    background-size: 100% 100%;
}
.containerf 
{
    width: 85%;
    margin: auto;
}

@media (max-width: 760px)
{
    .containerf
    {
      width: 100% !important;
    }  
}